<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hi <%= userDetails.name%>!</h2>
    <p>Thank You so much evaluating the task. I hope you would like it.</p>
    <p>This is just an automated email you recieve on SignUp.</p>
</body>
</html>